
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



/* Normalizacion */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
}

/* Pagina_Flexbox_Tarea_1 */
.Pagina_Flexbox_Tarea_1 {
    background-color: #17419b;
    width: 100vw;
    height: 105px;

    /* Activamos flexbox */
    display: flex;

    /* Dirección horizontal */
    flex-direction: row;

    /* Separa el grupo izquierdo del grupo derecho */
    justify-content: space-between;

    /* Centra verticalmente */
    align-items: center;

    padding: 0 32px;
}

/* Grupo de links de la izquierda */
.grupo_textos_izquierdo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 34px;
}

/* Cada link del menu */
.texto {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

/* Grupo de idioma a la derecha */
.grupo_textos_derecho {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;

    color: white;
    font-size: 16px;
    font-weight: bold;
}

.icono {
    font-size: 20px;
}

.flecha {
    font-size: 16px;
    color: #d80404;
}