* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #151719;
    color: white;
    font-family: Arial, sans-serif;
}

.Pagina_Flexbox_Tarea_3 {
    width: 100vw;
    min-height: 100vh;

    display: flex;
    justify-content: center;
}

.contenedor {
    width: 768px;
    padding-top: 20px;
}

h1 {
    font-size: 24px;
    margin-bottom: 25px;
}

.Textos {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.Texto_grupo_izquierdo {
    width: 376px;
    height: 140px;
    border: 1px solid rgb(220, 220, 220);
    border-radius: 6px;
    padding: 18px 16px;
}


.Texto_grupo_derecho {
    width: 376px;
    height: 140px;
    border: 1px solid rgb(220, 220, 220);
    border-radius: 6px;
    padding: 18px 16px;
}

.categoria {
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 6px;
}

h2 {
    font-size: 18px;
    margin-bottom: 18px;
}

.descripcion {
    font-size: 14px;
    font-weight: bold;
    line-height: 15px;
}