@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #111111;
    color: #d8d8d8;
    font-family: monospace;
}

.pagina {
    width: 100%;
    min-height: 100vh;
    padding: 30px 70px;
}

/* BLOQUES GENERALES */

.bloque {
    display: inline-block;
    vertical-align: top;
}

.bloque h1 {
    margin: 0 0 20px 0;
    font-size: 32px;
    font-weight: bold;
}

.bloque h2 {
    margin: 0 0 15px 0;
    font-size: 32px;
    font-weight: bold;
}

.link {
    margin: 0 0 15px 0;
    font-size: 22px;
    font-weight: bold;
}

/* BLOQUE BANCO */

.banco {
    width: 520px;
}

.caja_externa {
    background-color: white;
}

.caja_banco {
    width: 220px;
    height: 118px;
    padding: 30px;
}

.boton_turnos {
    width: 176px;
    height: 64px;
    background-color: #ffc035;
    color: #5d6468;
    border-radius: 15px;
    text-align: center;
    padding-top: 15px;
    font-size: 32px;
    font-weight: bold;
}

/* BLOQUE FIGMA */

.figma {
    width: 480px;
    margin-left: 120px;
    margin-top: 55px;
}

.caja_figma {
    width: 410px;
    height: 118px;
    padding: 29px 50px;
}

.boton_negro {
    width: 310px;
    height: 60px;
    background-color: black;
    color: white;
    border-radius: 12px;
    text-align: center;
    padding-top: 15px;
    font-size: 26px;
    font-weight: bold;
}

/* BLOQUE CAN I USE */

.caniuse {
    display: block;
    width: 900px;
    margin-left: 75px;
    margin-top: 130px;
}

.caja_texto {
    width: 885px;
    height: 76px;
    background-color: #19160f;
    padding: 20px;
}

.caja_texto p {
    margin: 0;
    color: #d48a24;
    font-size: 27px;
    font-weight: bold;

    text-shadow: 
        1px 3px 2px #a38146,
        1px 1px 2px #000000;
}