@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: black;
}

/* CONTENEDOR GENERAL */

.pagina_hostinger {
    padding: 10px 40px;
}

/* SECCION PRINCIPAL */

.seccion_principal {
    width: 1825px;
    height: 675px;
    border-radius: 18px;
    overflow: hidden;

    position: relative;
}

/* VIDEO DE FONDO */

.video_publicidad {
    width: 1825px;
    height: 675px;
    object-fit: cover;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

/* CAPA OSCURA ENCIMA DEL VIDEO */

.capa_oscura {
    width: 1825px;
    height: 675px;
    background-color: black;
    opacity: 0.50;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

/* TEXTO PRINCIPAL */

.contenido_principal {
    width: 560px;
    color: white;

    position: absolute;
    top: 215px;
    left: 190px;
    z-index: 3;
}

.contenido_principal h1 {
    font-size: 54px;
    font-weight: 500;
    line-height: 60px;
    margin-bottom: 28px;
}

.contenido_principal p {
    font-size: 17px;
    line-height: 28px;
    margin-bottom: 28px;
}

/* BOTON PRINCIPAL */

.boton_inicio {
    width: 188px;
    height: 48px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 8px;

    font-size: 16px;
    font-weight: 700;

    margin-bottom: 18px;
}

/* TEXTO DE GARANTIA */

.garantia {
    display: flex;
    align-items: center;
    gap: 10px;

    font-size: 16px;
    font-weight: 600;
}

.icono_garantia {
    font-size: 18px;
}

/* BOTON FLOTANTE IZQUIERDO */

.boton_editar {
    width: 52px;
    height: 52px;

    background-color: black;
    color: aquamarine;

    border: 1px solid white;
    border-radius: 100px;

    font-size: 22px;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    left: -8px;
    bottom: -8px;
    z-index: 4;
}

/* BOTON FLOTANTE DERECHO */

.boton_pausa {
    width: 32px;
    height: 32px;

    background-color: black;
    color: white;

    border: 1px solid white;
    border-radius: 100px;

    font-size: 14px;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    right: 20px;
    bottom: 20px;
    z-index: 4;
}